@import "../../main.scss";

@keyframes animation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.shop {
    margin: 0 0 20rem 0;
    animation: pop-out 500ms ease 1 forwards;
    section {
        display: flex;
    }
}

@media (max-width: 1000px) {
    .shop {
        margin: 0 0 10rem 0;
        > section {
            flex-direction: column;
        }
    }
}
