.cart {
    display: flex;
    flex-direction: column;
    margin: 2rem 0 0 0;
    gap: 1rem;

    li {
        h4 {
            display: none
        }
    }

    li:first-child {
        h4 {
            display: block;
            margin-bottom: 1rem;
        }
    }
}
