@import "../../main.scss";

.carousel {
    display: flex;
    flex-direction: column;
    
    img {
        width: 95%;
    }

    p {
        font-weight: 200;
        font-family: Helvetica, sans-serif   ;
    }
}