@import "../../main.scss";

.container {
    width: 90%;
    margin: 0 auto 0 5rem;
    display: flex;
    flex-direction: column;
}

.products {
    width: 90%;
    display: flex;
    padding: 1rem 0;
    gap: 12px 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.pageButtons {
    height: fit-content;
    padding: 1rem;
    border: none;
    background: none;

    img {
        width: 30px;
        margin: 30rem 0 0 0;
        transition: transform 100ms ease-in;
    }

    &:hover {
        img {
            border: solid 1px $primary-color;
            border-radius: 2rem;
            background-color: $primary-color;
            transform: scale(1.2);
        }
    }
}

.pageCount {
    width: 10%;
    margin: 4rem 11rem 0 0;
    align-self: flex-end;
    font-family: sans-serif;
    font-size: calc(14rem / 16);
    font-style: italic;
}

@media (max-width: 1000px) {
    .container {
        width: 100%;
        margin: 0;
        justify-content: center;
        
        section {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }

    .products {
        width: 100%;
    }

    .pageButtons {
        padding: 0;
        margin: 0;
        width: 10%;
        img {
            margin-top: 25rem;
        }
    }

    .pageCount {
        width: 100%;
        margin: 1rem auto 0 auto;
        text-align: center;
        font-size: calc(12rem / 16);
    }
}
