@import "../../main.scss";
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.card {
    width: 15%;
    height: fit-content;
    margin: 0 0 2rem 0;
    background-color: $primary-color-2;
    transition: transform 200ms ease;
    transition: padding 300ms ease;
    position: relative;

    img {
        width: 100%;
    }

    p {
        display: block;
        margin: 5px 0 0 0;
        text-decoration: none;
        color: $primary-color-3;
        font-family: "Roboto";
        font-weight: bold;
        font-size: calc(13rem / 16);
        transition: color 300ms ease;
    }

    div {
        opacity: 0;

        p {
            font-size: calc(12rem / 16);
            font-weight: normal;
            color: $primary-color-3;
        }
    }

    &:hover {
        padding: 1rem;
        transform: scale(1.05);
        background-color: $primary-color;
        border-radius: 5px;
        box-shadow: 0 5px 10px #000000, 0 15px 40px $primary-color-3;
        transform: scale(1.1);
        p {
            color: $primary-color-2;
        }

        div {
            opacity: 1;
        }
    }
}

@media (max-width: 600px) {
    .card {
        width: 25%;
        p {
            font-size: calc(10rem / 16);
        }
    }
}
