@import "../../main.scss";

.backdrop {
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    z-index: -1;

    img {
        width: 70%;
    }
}

.details {
    width: 65%;
    background-color: $primary-color-2;
    margin: 30rem auto 0 auto;
}

.poster {
    width: 15%;

    img {
        width: 100%;
    }
}
