@import "../../main.scss";

.filter {
    width: 15%;
    height: fit-content;
    margin: 3rem 0 0 2rem;
    padding: calc(20rem / 16);

    h4 {
        font-family: sans-serif;
        margin: 0 0 calc(10rem / 16) calc(6rem / 16);
    }

    input {
        width: 100%;
        margin: 0 0 calc(10rem / 16) 0;
        padding: 9px;
        border: solid 1px gainsboro;
        border-radius: 1rem;

        &:focus {
            outline: solid 2px $primary-color;
        }
    }

    div {
        span {
            display: flex;
            margin: calc(6rem / 16) 0 0 calc(4rem / 16);

            button {
                padding: 8px;
                margin: 0 calc(10rem / 16) 0 0;
                background: none;
                border: solid 1px rgb(189, 185, 185);
                // background-color: $primary-color;
            }

            p {
                font-family: Helvetica;
                font-size: calc(14rem / 16);
                font-weight: 500;
            }
        }
    }

    .active {
        background-color: $primary-color;
        border: solid 1px $primary-color-3;
    }
}

@media (max-width: 1000px) {
    .filter {
        width: 100%;
        margin-left: 10rem;

        input {
            width: 60%;
            padding: 5px;
            margin-left: 5px;
            font-size: calc(10rem / 16);
        }

        div {
            display: flex;
            flex-wrap: wrap;

            span {
                width: 40%;
                margin-left: 12px;

                p {
                    font-size: calc(10rem / 16);
                }

                button {
                    padding: 7px;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .filter {
        margin-left: 3rem;
    }
}
