@import "../../main.scss";

.showCase {
    display: flex;
    justify-content: space-between;
    background-color: $primary-color;
    color: $primary-color-2;
    padding: 10rem 0;

    > h1 {
        margin: 2rem 0;
        font-size: 4rem;
        font-family: sans-serif;
    }

    
}