@import "../../main.scss";

.showCase {
    display: flex;
    justify-content: space-between;
    background-color: $primary-color;
    color: $primary-color-2;
    padding: 10rem 0;

    div {
        display: flex;
        flex-direction: column;

        h1 {
            margin: 5rem 0;
            font-size: 6rem;
            font-family: sans-serif;
        }

        p {
            font-size: calc(20rem / 16);
            font-family: Helvetica, sans-serif;
        }
    }
}
