@import "../../main.scss";

.showCase {
    display: flex;
    justify-content: space-between;
    background-color: $primary-color;
    color: $primary-color-2;
    padding: 10rem 0 10rem 0;

    div {
        display: flex;
        flex-direction: column;

        h1 {
            margin: 5rem 2rem 2rem 2rem;
            font-size: 6rem;
            font-family: sans-serif;
        }
        
        p {
            margin: 0 2rem;
            font-size: calc(18rem / 16);
            font-family: Helvetica, sans-serif;
            letter-spacing: 2px;
        }
    }
}
