$primary-color: #e04f0e;
$primary-color-2: #ffffff;
$primary-color-3: #030201;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}
